$colorFondo: #000000;
$colorLetra: #fca311;
$colorBoton: #14213d;
$colorBtnHvr: #e5e5e5;
$colorBorde: #1f53c5;

* {
  @include reset;
}
body {
  color: $colorLetra;
  background-image: url("../img/star-wars-backgrounds-25.jpg");
}
button {
  padding: 9px 15px;
  background-color: $colorBoton;
  border: none;
  border-radius: 50px;
  color: $colorLetra;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 1px solid $colorBoton;
  &:hover {
    background-color: $colorBtnHvr;
  }
}
